@import "tailwindcss";

body {
  @apply bg-stone-900 text-stone-200;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
@layer utilities {
  h1.font-display,
  h2.font-display,
  p.font-display {
    font-family: var(--font-playfair-display);
  }
}
