@import "tailwindcss";

body {
  @apply bg-stone-950 text-stone-50;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
@layer utilities {
  .font-cinzel {
    font-family: var(--font-cinzel);
  }
}
